.study-button{
    font-size: 30px;
    margin-right: 43px;
    width: 20%;
    background-color: #4E73DF;
    color: white;
    border-radius: 8px;
}

.material-icons{
    font-size: 30px;
    margin-top: 8px;
}

.set-study-button{
    text-align: center;
    font-size: 25px;
    margin-left: auto;
    margin-top: auto;
    background-color: #4E73DF;
    color: white;
    border-radius: 8px;
}


#user-profile{
    font-size: 110px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    top: -20px;
}

#profile{
    font-size: 36px;
    position: relative;
    top: -24px;
    text-align: center;
}

#profile_data{
    font-size: 24px;
    text-align: center;
}

.question{

    font-size: 20px;
}

#language-set{
    margin-top: 10px;
    background-color: #E3E3DE;
}

#practice-set{

    background-color: #625F60;
    color: white;
}

#feedback{
    font-style: italic;
    text-align: center;
}
